<p> Short, sweet about me. With get in touch / Sign up for my newsletter? </p>
<div> 
    Picture of Crow, and of Coco. 
    I love nature, I love reading and I love a challenge, my family enjoys working hard.
</div>