 <%= stylesheet_link_tag "contact" %>
    
    <div class="container1">
		
		<div class="button1">
			<i class="fab fa-twitter"></i>
		</div>

		<div class="button1">
				<i class="fab fa-facebook-f"></i>
		</div>

		<div class="button1 profile"></div>

		<div class="button1">
			<i class="fab fa-instagram"></i>
		</div>

		<div class="button1">
			<i class="fab fa-snapchat"></i>
		</div>

	</div>

    