<title>Crows Library</title>
  
<div class="d-flex alogn-items-center justify-content-center">
  <h1>Welcome to Crow's Library, a resting place for Worldbuilders.</h1>
</div>

<p>Find me in app/views/pages/home.html.erb</p>


<div> A simple home page, with the About Me at the bottom? 
        Infinite Scroll? What for? My favourite things...
</div> 