<body id = "body">

<%= yield %>
<%= stylesheet_link_tag "services" %>
<h1 class = "title"> My Services </h1>



<div class="container">
	<div class="box">
		<div class="content">
			<h2>01</h2>
			<h3>Worldbuilding</h3>
			<p>
				
              My speciality and my foremost passion! Whatever your worldbuilding needs, I would <u>LOVE</u> to help
			  whether it be religion, language creation, culture, history, magic systems etc I can do it all. 

			 If you need help, advice or want to work on a project together
			 learn more about my services below! 
			</p>
			<a href="#">Read More</a>
			<a href="#">Contact Me</a>

		</div>
	</div>

	<div class="box">
		<div class="content">
			<h2>02</h2>
			<h3>Beta / Alpha Reading</h3>
			<p>
			Finding people to read your book is difficult. 
			It can be discouraging to say the least, 
			after all the effort you've put in to finishing your novel. 

			Luckily, I would be more than happy to read your work and give feedback on it, 
			I'm just sorry that I can't afford for it to be free! 
			I charge by word-count but am happy to negogiate.
              
			</p>
			<a href="#">Read More</a>
			<a href="#">Contact Me</a>
		</div>
	</div>

	<div class="box">
		<div class="content">
			<h2>03</h2>
			
			<h3>Cartography</h3>
			
			<p>
				
              If you need a geographical critique, or a full map of your world drawn/designed. 
			  I'm happy to provide.

			  I can provide several drafts by hand or digitally for you to feed back on. 
			  And where I am no artist, I know a few personally that I can forward you on. 
			  Prices here may vary depending on what you require, 
			  if you want me to design you a full world or city-scape, or just feedback!.

			  Get in touch for more details! 
			</p>
			<a href="#">Read More</a>
			<a href="#">Contact Me</a>

		</div>
	</div>

	<div class="box">
		<div class="content">
			<h2>04</h2>
			<h3>Chapter Reviews</h3>
			<p>
				
              Not everyone needs a full beta read, not everyone is happy with their first chapters.
			  This service is for those of you that want some feedback up to a certain point in their work. 

			  Again, with this service I charge by word-count but am happy to negotiate. Not all words are the same!
			</p>
			<a href="#">Read More</a>
			<a href="#">Contact Me</a>

		</div>
	</div>
</div>


</body>
<footer> 

</footer>